@implements IDisposable

@using System.Threading
@using WindowUI.Web.Models

<div class="taskbar">
    <button class="start-button">Start</button>

    <div class=tasks>
        @if (Tasks.Any())
        {
            @foreach (var task in Tasks)
            {
                <div class="task">
                    <img src="@task.Icon" alt="@task.Name icon" />
                    @task.Name
                </div>
            }
        }
    </div>
    
    <div class="clock">@DateTime.Now.ToString("HH:mm")</div>
</div>

@code {
    [Parameter]
    public List<Application> Tasks { get; set; } = [];

    private DateTime _currentTime = DateTime.Now;
    private Timer? _timer;

    protected override void OnInitialized()
    {
        _timer = new Timer(_ =>
        {
            InvokeAsync(() =>
            {
                _currentTime = DateTime.Now;
                StateHasChanged();
            });
        }, null, 0, 1000);
    }

    public void Dispose()
    {
        _timer?.Dispose();
    }
}
