@using WindowUI.Domain.Models

<WindowBase Title="Todo List" OnClose="OnClose">
    <div class="todos">
        @foreach (var todo in _todos)
        {
            <TodoComp Title="@todo.Title" IsDone="@todo.IsCompleted" />
        }
    </div>
</WindowBase>

@code {
    [Parameter]
    public EventCallback OnClose { get; set; }

    private void OnCloseClicked() => OnClose.InvokeAsync();

    private List<TodoItem> _todos = new()
    {
        new TodoItem { Title = "Buy groceries", IsCompleted = false },
        new TodoItem { Title = "Walk the dog", IsCompleted = true },
        new TodoItem { Title = "Read a book", IsCompleted = false },
    };
}
