@using WindowUI.Domain.Models

@inject WindowUI.Services.ITodoItemService TodoItemService

<WindowBase Title="Todo List" OnClose="OnClose">
    <div class="todos">
        @foreach (var todo in _todos)
        {
            <TodoComp Title="@todo.Title" IsDone="@todo.IsCompleted" />
        }
    </div>
</WindowBase>

@code {
    [Parameter]
    public EventCallback OnClose { get; set; }

    private void OnCloseClicked() => OnClose.InvokeAsync();

    private List<TodoItem> _todos = [];

    protected override async Task OnInitializedAsync()
    {
        _todos = await TodoItemService.GetAllTodoItemsAsync();
    }
}
