<WindowBase Title="Todo List" OnClose="OnClose">
    <div class="todos">
        <TodoItem Title="Buy groceries" IsDone="false" />
        <TodoItem Title="Walk the dog" IsDone="true" />
        <TodoItem Title="Read a book" IsDone="false" />
    </div>
</WindowBase>

@code {
    [Parameter]
    public EventCallback OnClose { get; set; }

    private void OnCloseClicked() => OnClose.InvokeAsync();
}
