<div class="chat-item">
    <strong>@AuthorName :</strong> @Message
</div>

@code {
    [Parameter]
    public required string AuthorName { get; set; }

    [Parameter]
    public required string Message { get; set; }
}
