<div class="taskbar">
    <button class="start-button">Start</button>

    <div class=tasks>
        @if (Tasks is not null && Tasks.Any())
        {
            @foreach (var task in Tasks)
            {
                <div class="task">@task</div>
            }
        }
    </div>
    
    <div class="clock">@DateTime.Now.ToString("HH:mm")</div>
</div>

@code {
    [Parameter]
    public List<string> Tasks { get; set; } = [];
}
