@using Microsoft.AspNetCore.SignalR
@using WindowUI.Domain.Models
@using Microsoft.AspNetCore.SignalR.Client

@implements IAsyncDisposable

@inject WindowUI.Web.Services.IChatMessageService ChatMessageService
@inject NavigationManager NavigationManager

<WindowBase Title="Chat" OnClose="OnClose">
    <div class="chat">
        <div class="chat-content">
            @foreach (var message in _messages)
            {
                <div class="chat-item">
                    <strong>@message.AuthorName :</strong> @message.Message
                </div>
            }
        </div>

        <div class="chat-new-message">
            <input type="text" placeholder="New Message..." @bind-value="_newMessage" />
            <button @onclick="() => InvokeAsync(SubmitNewMessage)">Send</button>
        </div>
    </div>
</WindowBase>>

@code {
    [Parameter]
    public EventCallback OnClose { get; set; }

    private HubConnection? hubConnection;

    private List<ChatMessage> _messages = [];

    private string _newMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        _messages = await ChatMessageService.GetMessagesAsync();

        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
            .WithAutomaticReconnect()
            .Build();

        hubConnection.On<string, string>("ReceiveMessage", (authorName, message) =>
        {
            _messages.Add(new ChatMessage
            {
                AuthorName = authorName,
                Message = message,
            });

            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    public async Task SubmitNewMessage()
    {
        var authorName = "Author";

        if (hubConnection is not null && !string.IsNullOrWhiteSpace(_newMessage))
        {
            await hubConnection.SendAsync("SendMessage", authorName, _newMessage);
            _newMessage = string.Empty;

            await InvokeAsync(StateHasChanged);
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
