<WindowBase Title="Info" OnClose="OnClose">
    <div class="info">
        Nothing to see here, just some information.
    </div>
</WindowBase>

@code {
    [Parameter]
    public EventCallback OnClose { get; set; }
}
